/* basic page formatting */

* {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: 'Creepster', cursive;
    font-size: 3rem;
    letter-spacing: 4px;
    color: rgba(141, 0, 0, 1);
}

h2 {
    font-family: 'Creepster', cursive;
    color: rgba(141, 0, 0, 1);
    letter-spacing: 2px;
}

body {
    font-family: 'Alice', serif;
}

/* landing page div styles */

#heading {
    margin: auto;
    width: 320px;
    height: 16vh;
}

#heading h1 {
    text-align: center;
    position: relative;
    top: 15px;
}

#main {
    margin: auto;
    width: 320px;
    height: 70vh;
}

#main p, #main h2 {
    text-align: center;
    position: relative;
    top: 30px;
}

#footer {
    margin: auto;
    width: 320px;
    height: 14vh;
}

#footer p {
    text-align: center;
    position: relative;
    font-size: 0.8rem;
    top: 60%;
}

/* game page styles */

#scorearea {
    width: 320px;
    margin: auto;
    height: 6vh;
    background-color: brown;
}

#playerscore {
    float: left;
    width: 160px;
    height: 6vh;
    background-color: blueviolet;
    text-align: center;
}

#playerscore p, #computerscore p {
    font-weight: bolder;
    position: relative;
    top: 10%;
}

#computerscore {
    float: right;
    width: 160px;
    height: 6vh;
    background-color: blueviolet;
    text-align: center;
}

#cardarea {
    margin: auto;
    width: 320px;
}

.activecard {
    width: 215px;
    margin: 10px auto;
    height: 345px;
}

#playercard {
    background-image: url('../images/tt-card-front.png');
    background-repeat: no-repeat;
    background-size: 215px 345px;
    text-align: center;
}

picture {
    position: relative;
    top: 10%;
}

img {
    border-radius: 10px;
    border: 3px solid #a300006e;
}

#computercard {
    background-image: url('../images/tt-card-back.png');
    background-repeat: no-repeat;
    background-size: 215px 345px;
    text-align: center;
}

#name1, #name2 {
    font-family: 'Creepster', cursive;
    color: antiquewhite;
    font-weight: lighter;
    font-size: 1.4rem;
    text-shadow: rgb(163, 0, 0) 2px 0px 0px, rgb(163, 0, 0) 1.75517px 0.958851px 0px, rgb(163, 0, 0) 1.0806px 1.68294px 0px, rgb(163, 0, 0) 0.141474px 1.99499px 0px, rgb(163, 0, 0) -0.832294px 1.81859px 0px, rgb(163, 0, 0) -1.60229px 1.19694px 0px, rgb(163, 0, 0) -1.97998px 0.28224px 0px, rgb(163, 0, 0) -1.87291px -0.701566px 0px, rgb(163, 0, 0) -1.30729px -1.5136px 0px, rgb(163, 0, 0) -0.421592px -1.95506px 0px, rgb(163, 0, 0) 0.567324px -1.91785px 0px, rgb(163, 0, 0) 1.41734px -1.41108px 0px, rgb(163, 0, 0) 1.92034px -0.558831px 0px;    position: relative;
    top: 10%;
}

table {
    margin: 12% auto 0 auto;
}

th, td {
    border: 1px solid #dddddd00;
    text-align: left;
    padding: 0 20px 0 0;
    font-size: 0.8rem;
}

.table-value {
    padding: 0 0 0 20px;
    cursor: pointer;
    font-weight: bolder;
}

/* popup message area */

#messagearea {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#myPopup {
    position: relative;
    top: 365px;
    background-color: rgba(121, 15, 15, 0);
    width: 320px;
    height: 320px;
    margin: auto;
    text-align: center;
}

#myPopup h2 {
    cursor: pointer;
    color: black;
    font-size: 2.4rem;
    letter-spacing: 2px;
    border: 2px;
    text-shadow: rgb(228, 195, 129) 3px 0px 0px, rgb(228, 195, 129) 2.83487px 0.981584px 0px, rgb(228, 195, 129) 2.35766px 1.85511px 0px, rgb(228, 195, 129) 1.62091px 2.52441px 0px, rgb(228, 195, 129) 0.705713px 2.91581px 0px, rgb(228, 195, 129) -0.287171px 2.98622px 0px, rgb(228, 195, 129) -1.24844px 2.72789px 0px, rgb(228, 195, 129) -2.07227px 2.16926px 0px, rgb(228, 195, 129) -2.66798px 1.37182px 0px, rgb(228, 195, 129) -2.96998px 0.42336px 0px, rgb(228, 195, 129) -2.94502px -0.571704px 0px, rgb(228, 195, 129) -2.59586px -1.50383px 0px, rgb(228, 195, 129) -1.96093px -2.27041px 0px, rgb(228, 195, 129) -1.11013px -2.78704px 0px, rgb(228, 195, 129) -0.137119px -2.99686px 0px, rgb(228, 195, 129) 0.850987px -2.87677px 0px, rgb(228, 195, 129) 1.74541px -2.43999px 0px, rgb(228, 195, 129) 2.44769px -1.73459px 0px, rgb(228, 195, 129) 2.88051px -0.838247px 0px;}

/* landing page media query */

@media screen and (min-width: 768px) {
    #heading {
        margin: auto;
        width: 768px;
        height: 16vh;
    }

    #main {
        margin: auto;
        width: 768px;
        height: 70vh;
    }

    #footer {
        margin: auto;
        width: 768px;
        height: 14vh;
    }

    h1 {
        font-size: 4.5rem;
    }
    
    body {
        font-size: 1.1rem;
    }

    #scorearea {
        position: relative;
        top: 2rem;
        width: 700px;
        height: 12vh;
    }
    
    #playerscore {
        width: 160px;
        height: 12vh;
    }
    
    #computerscore {
        width: 160px;
        height: 12vh;
    }
    
    #cardarea {
        position: relative;
        top: 4rem;
        width: 700px;
    }
    
    .activecard {
        display: inline-block;
        width: 324px;
        margin: 10px auto;
        height: 520px;
    }
    
    #playercard {
        background-size: 324px 520px;
        float: left;
    }
    
    #computercard {
        background-size: 324px 520px;
        float: right;
    }
    
    table {
        margin: 15% auto 0 auto;
    }
    
    th, td {
        text-align: left;
        padding: 0 30px 0 0;
        font-size: 1.2rem;
    }
    
    .table-value {
        padding: 0 0 0 30px;
    }

    table {
        margin: 17% auto 0 auto;
    }
    
    #name1, #name2 {
        position: relative;
        font-size: 1.8rem;
        letter-spacing: 3px;
    }

    #myPopup {
        top: 130px;
    }
}